<footer>
    <hr>
    <div class = "footer-content">
        <p>
        this project was made for Mr. Sheldon's D Block JavaScript class in Spring 2018 at Arlington High School
        <br><br>
        website created with
        <a href = "https://nodejs.org/en/">Node.js</a>, 
        <a href = "https://expressjs.com/">Express.js</a>, and
        <a href = "http://ejs.co/">EJS</a>
        <br>
        games created with
        <a href = "https://p5js.org/">p5.js</a>
        <br><br>
        <a href = "https://github.com/jkatofsky/AHS-Arcade">see the code</a>
        </p>
    </div>
</footer>