<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<title>AHS Arcade</title>
		<meta name="viewport" width="device-width," initial-scale="1.0," maximum-scale="1.0," user-scalable="0">
		<link rel="stylesheet" type="text/css" href="style/style.css">
	</head>

	<body>
		<div class="body-content">
			<h1>Welcome to AHS Arcade!</h1>
			<h2>by Josh Katofsky</h2>
		</div>
		<hr>
		<div class="body-content">
			<div id="game-selection">
				<p>
				<a href="/snake">Snake</a>
				<br><br>
				<img src = "images/snake.gif">
				<br><br>
				by Josh Katofsky
				</p>
				<p>
				<a href="/tetris">Tetris</a>
				<br><br>
				<img src = "images/tetris.gif">
				<br><br>
				by Kieran O'Day
				</p>
				<p>
				<a href="/asteroids">Asteroids</a>
				<br><br>
				<img src = "images/asteroids.gif">
				<br><br>
				by Kieran O'Day
				</p>
			</div>
			<p>
			<a href="/high_scores">all high scores</a>
			</p>
		</div>
	</body>

	<% include partials/global_footer %>

</html>